<!-- /*
* File: app.component.html
* Author: BorosFather
* Copyright: 2023, BorosFather
* Group: Szoft II N
* Date: 2023-02-07
* Github: https://github.com/BorosFather
* Licenc: GNU GPL
*/ -->

<div class="cont">
   <ul class="nav justify-content-center ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/test">Testtömeg</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link nav-pills " href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/popup">PopUp</a>
  </li>
</ul> </div>
 
 
<div class="container ">
  <router-outlet></router-outlet>
</div>
